
/* Hier ensteht das CSS Formula */

/* CSS Reset*/
*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
}

#test{
    color: yellow;
    border: solid 8px blue;
}

#test2{
    color: green;
    border: solid 4px yellow;
}